myimage{
    background-image:url(/images/img.jpg);
}
.font1{
font-size:medium;
font-weight: bold;
}
.font2{
    font-size:10px;
}
.font3{
    font-weight:normal;
}
.font4{
    font-size:5px;
}
.containerf{
    display: flex;
width: 80vw;

}
.margin{
    margin-left: 50px;
}
.shadow{
    flex: 1;
    margin-top: 30px;
    height:30vh;
}
.contact{
    margin-top:5vw;
    background-color: #fff;
}
.section4{
    margin-bottom: 10vw;
}
